$site-header-search-bar-bg: #fbfbfa;
$site-blue: #34a8c4;
$site-blue-accent: #2f98b1;
$orange-accent: #f56400;
$gray-border: #dcdcd9;
$gray-type: #aaa;
$dark-gray-type: #666;
$site-background: #efefeb;




.site-header {
  font-family: 'lato', sans-serif;
  a {
    text-decoration: none;
    color: $dark-gray-type;
  }


  .site-header-top-wrap{
      border-bottom: solid thin $gray-border;
      // box-shadow: 0 1px 0 1px black;
        // border: solid thin black;
      background-color: white;
      height: 95px;
      .site-header-etsy-logo{
        display: inline-block;
        margin:  0 0 0 16%;
        padding: .3em .5em .5em 0;
        font-size: 2.8em;
        font-family: serif;
        color: $orange-accent;
        font-weight: 500;
        // border: solid thin black;
      }
    .site-header-search-bar-wrapper{
      display:inline-block;
      width: 25%;
      // border: solid thin black;
      // margin: -10px 0 0 0;
      .site-header-search-bar{
        display: inline-block;
        font-size: 1em;
        line-height: 2em;
        border: solid thin #cfcbc8;
        height: 35px;
        width: 70%;
        border-radius: .3em 0 0 .3em;
        background-color: $site-header-search-bar-bg;
        margin: -3px 0 0 0;

      }
      .site-header-search-button{
        display: inline-block;
        background-color: $site-blue;
        color: white;
        font-weight: bold;
        padding: 9px 25px 11px 25px;
        margin: -1px 0 0 -5px;
        border-radius: 0 .3em .3em 0;
      }
    }
    .site-header-top-nav-sell-wrap{
      display: inline-block;
      text-align: center;
      vertical-align: center;
      margin: 2.3% 3% 5% 0%;
      float: left;
      // position: fixed;
      color:$site-blue;
      &:hover{
        text-decoration: underline;
      }
    }
    .site-header-top-nav-wrapper{
      display: inline-block;
      float: right;
      margin: 1.5% 16% 0 0;
        // border: solid thin black;
      width: 29%;
      .fa{
        display: block;
        font-size: 1.5em;
        padding: .1em 1em;
      }
      .site-header-top-nav-home-wrap{
        display: inline-block;
        text-align: center;
        border-right: solid thin $gray-border;
        border-left: solid thin $gray-border;
        color: darken($gray-border, 45%);
      }
      .site-header-top-nav-favorites-wrap{
        display: inline-block;
        text-align: center;
        border-right: solid thin $gray-border;
        padding: 0 .2em;
        color: darken($gray-border, 45%);
      }
      .site-header-top-nav-you-wrap{
        display: inline-block;
        text-align: center;
        border-right: solid thin $gray-border;
        color: darken($gray-border, 45%);
      }
      .site-header-top-nav-cart-wrap{
        display: inline-block;
        text-align: center;
        color: darken($gray-border, 45%);
      }
    }
  }


  .site-header-dropdown-nav-wrap{
    border-bottom: solid thin $gray-border;
    background-color: white;
    .site-header-dropdown-nav-links-wrap{
      margin: 0 16% 3px  16%;
      // border: solid thin black;
      a{
        display: inline-block;
        padding: .75em 0;
        margin: 0 2.5% 0 0;
        color: darken($gray-border, 45%);
        &:hover{
        border-bottom: solid 3px $orange-accent;
        margin-bottom: -3px;
        text-decoration: none;
      }
      }
    }
  }

//site header dropdown links
  .site-header-dropdown-standard-left-link{
    padding: 1em .5em;
    &:hover{
      background-color: lightblue;
    }
    .site-header-left-drop-caret{
      display: inline-block;
      float: right;
      margin: 0 7%;
    }
  }

  .site-header-dropdown-standard-middle-link{
    display: block;
    padding: .4em 1em;
    color: black;
    &:hover{
      text-decoration: underline;
      // color: black;
    }
  }

  .site-header-dropdown-indented-middle-link{
    display: block;
    padding: .4em 2em;
    color: $gray-type;
    &:hover{
      text-decoration: underline;
    }
  }

  .site-header-dropdown-bold-middle-link{
    // position: absolute;
    display: block;
    padding: .4em .4em;
    color: black;
    font-weight: bold;
    font-size: 1.1em;
    &:hover{
      text-decoration: underline;
      // color: black;
    }
  }

  //right nav/editors picks styling
  // .site-header-right-nav-link{
  //   &:hover{
  //     text-decoration: underline;
  //   }
  // }
  .site-header-right-nav-img{
    width: 90%;
    height: 50%;
    margin: 0 5%;
  }
  .site-header-right-nav-txt{
    display: block;
    margin: 6% 5% 3% 5%;
    color: $gray-type;
    // &:hover{
    //   text-decoration: none;
    // }
  }
  .site-header-right-nav-desc-txt{
    display: block;
    margin: 3% 5%;
    color: black;
    font-size: 1.5em;
    font-weight: 700;
    font-family: 'bitter', serif;
    &:hover{
      text-decoration: underline;
    }

  }

  .site-header-clothing-dropdown{
    margin: 0 14%;
    height: 53%;
    width: 70%;
    border: solid thin $gray-border;
    border-top: none;
    display: none;
    background-color: white;
    position: absolute;
    z-index: 100;
    .site-header-clothing-dropdown-left-nav{
      position: relative;
      height: 100%;
      width: 24%;
      border-right: solid thin $gray-border;
      display: inline-block;
      .clothing-left-link-1{
        margin: 5% 0 0 0;
      }
    }
    .site-header-clothing-dropdown-middle-nav{
      position: relative;
      height: 99%;
      width: 50%;
      margin: 0 25% 0 0;
      display: block;
      // border: solid thin black;
      display: none;
      float: right;
      .site-header-clothing-dropdown-middle-nav-left{
        display: inline-block;
        // border: solid thin green;
        height: 98%;
        width: 49%;
        position: relative;
        margin: 2% 0 0 0;
      }
      .site-header-clothing-dropdown-middle-nav-right{
        position: absolute;
        display: inline-block;
        // border: solid thin blue;
        height: 98%;
        width: 49%;
        margin: 2% 0 0 0;
      }
    }
    .site-header-clothing-dropdown-right-nav{
      position: absolute;
      height: 95%;
      width: 24%;
      margin: 1% 0  0 52%;
      display: inline-block;
      // border: solid thin pink;
      border-left: solid thin $gray-border;
      float: right;
    }
  }


  .site-header-jewelry-dropdown{
    margin: 0 14%;
    height: 53%;
    width: 70%;
    border: solid thin $gray-border;
    border-top: none;
    display: none;
    background-color: white;
    position: absolute;
    z-index: 100;
    .site-header-jewelry-dropdown-left-nav{
      position: relative;
      height: 100%;
      width: 24%;
      border-right: solid thin $gray-border;
      display: inline-block;
      .site-header-jewelry-drop-left-link{
        padding: 1em 0;
        &:hover{
          background-color: lightblue;
        }
      }
      .jewelry-left-link-1{
        text-align: center;
        margin: 0 6%;
        border-bottom: solid thin $gray-border;
        color: black;
        font-weight: bold;
        &:hover{
          background-color: white;
        }
      }
    }
    .site-header-jewelry-dropdown-middle-nav{
      position: relative;
      height: 99%;
      width: 50%;
      margin: 0 25% 0 0;
      display: block;
      // border: solid thin black;
      display: none;
      float: right;
      .site-header-jewelry-dropdown-middle-nav-left{
        display: inline-block;
        // border: solid thin green;
        height: 98%;
        width: 49%;
        position: relative;
        margin: 2% 0 0 0;
      }
      .site-header-jewelry-dropdown-middle-nav-right{
        position: absolute;
        display: inline-block;
        // border: solid thin blue;
        height: 98%;
        width: 49%;
        margin: 2% 0 0 0;
      }
    }
    .site-header-jewelry-dropdown-right-nav{
      position: absolute;
      height: 95%;
      width: 24%;
      margin: 1% 0  0 52%;
      display: inline-block;
      // border: solid thin pink;
      border-left: solid thin $gray-border;
      float: right;
    }
  }

  .site-header-craft-dropdown{
    margin: 0 14%;
    height: 53%;
    width: 70%;
    border: solid thin $gray-border;
    border-top: none;
    display: none;
    background-color: white;
    position: absolute;
    z-index: 100;
    .site-header-craft-dropdown-left-nav{
      position: relative;
      height: 100%;
      width: 24%;
      border-right: solid thin $gray-border;
      display: inline-block;
      .craft-left-link-1{
        text-align: center;
        margin: 0 6%;
        border-bottom: solid thin $gray-border;
        color: black;
        font-weight: bold;
        &:hover{
          background-color: white;
        }

      }
    }
    .site-header-craft-dropdown-middle-nav{
      position: relative;
      height: 99%;
      width: 50%;
      margin: 0 25% 0 0;
      display: block;
      // border: solid thin black;
      display: none;
      float: right;
      .site-header-craft-dropdown-middle-nav-left{
        display: inline-block;
        // border: solid thin green;
        height: 98%;
        width: 49%;
        position: relative;
        margin: 2% 0 0 0;
      }
      .site-header-craft-dropdown-middle-nav-right{
        position: absolute;
        display: inline-block;
        // border: solid thin blue;
        height: 98%;
        width: 49%;
        margin: 2% 0 0 0;
      }
    }
    .site-header-craft-dropdown-right-nav{
      position: absolute;
      height: 95%;
      width: 24%;
      margin: 1% 0  0 52%;
      display: inline-block;
      // border: solid thin pink;
      border-left: solid thin $gray-border;
      float: right;
    }
  }

  .site-header-wedding-dropdown{
    margin: 0 14%;
    height: 53%;
    width: 70%;
    border: solid thin $gray-border;
    border-top: none;
    display: none;
    background-color: white;
    position: absolute;
    z-index: 100;
    .site-header-wedding-dropdown-left-nav{
      position: relative;
      height: 100%;
      width: 24%;
      border-right: solid thin $gray-border;
      display: inline-block;
      .site-header-wedding-drop-left-link{
        padding: 1em 0;
        &:hover{
          background-color: lightblue;
        }
      }
      .wedding-left-link-1{
        text-align: center;
        margin: 0 6%;
        border-bottom: solid thin $gray-border;
        color: black;
        font-weight: bold;
        &:hover{
          background-color: white;
        }
      }
    }
    .site-header-wedding-dropdown-middle-nav{
      position: relative;
      height: 99%;
      width: 50%;
      margin: 0 25% 0 0;
      display: block;
      // border: solid thin black;
      display: none;
      float: right;
      .site-header-wedding-dropdown-middle-nav-left{
        display: inline-block;
        // border: solid thin green;
        height: 98%;
        width: 49%;
        position: relative;
        margin: 2% 0 0 0;
      }
      .site-header-wedding-dropdown-middle-nav-right{
        position: absolute;
        display: inline-block;
        // border: solid thin blue;
        height: 98%;
        width: 49%;
        margin: 2% 0 0 0;
      }
    }
    .site-header-wedding-dropdown-right-nav{
      position: absolute;
      height: 95%;
      width: 24%;
      margin: 1% 0  0 52%;
      display: inline-block;
      // border: solid thin pink;
      border-left: solid thin $gray-border;
      float: right;
    }
  }

  .site-header-entertainment-dropdown{
    margin: 0 14%;
    height: 53%;
    width: 70%;
    border: solid thin $gray-border;
    border-top: none;
    display: none;
    background-color: white;
    position: absolute;
    z-index: 100;
    .site-header-entertainment-dropdown-left-nav{
      position: relative;
      height: 100%;
      width: 24%;
      border-right: solid thin $gray-border;
      display: inline-block;
      .site-header-entertainment-drop-left-link{
        padding: 1em 0;
        &:hover{
          background-color: lightblue;
        }
      }
    }
    .site-header-entertainment-dropdown-middle-nav{
      position: relative;
      height: 99%;
      width: 50%;
      margin: 0 25% 0 0;
      display: block;
      // border: solid thin black;
      display: none;
      float: right;
      .site-header-entertainment-dropdown-middle-nav-left{
        display: inline-block;
        // border: solid thin green;
        height: 98%;
        width: 49%;
        position: relative;
        margin: 2% 0 0 0;
      }
      .site-header-entertainment-dropdown-middle-nav-right{
        position: absolute;
        display: inline-block;
        // border: solid thin blue;
        height: 98%;
        width: 49%;
        margin: 2% 0 0 0;
      }
    }
    .site-header-entertainment-dropdown-right-nav{
      position: absolute;
      height: 95%;
      width: 24%;
      margin: 1% 0  0 52%;
      display: inline-block;
      // border: solid thin pink;
      border-left: solid thin $gray-border;
      float: right;
    }
  }

  .site-header-living-dropdown{
    margin: 0 14%;
    height: 53%;
    width: 70%;
    border: solid thin $gray-border;
    border-top: none;
    display: none;
    background-color: white;
    position: absolute;
    z-index: 100;
    .site-header-living-dropdown-left-nav{
      position: relative;
      height: 100%;
      width: 24%;
      border-right: solid thin $gray-border;
      display: inline-block;
      .site-header-living-drop-left-link{
        padding: 1em 0;
        &:hover{
          background-color: lightblue;
        }
      }
    }
    .site-header-living-dropdown-middle-nav{
      position: relative;
      height: 99%;
      width: 50%;
      margin: 0 25% 0 0;
      display: block;
      // border: solid thin black;
      display: none;
      float: right;
      .site-header-living-dropdown-middle-nav-left{
        display: inline-block;
        // border: solid thin green;
        height: 98%;
        width: 49%;
        position: relative;
        margin: 2% 0 0 0;
      }
      .site-header-living-dropdown-middle-nav-right{
        position: absolute;
        display: inline-block;
        // border: solid thin blue;
        height: 98%;
        width: 49%;
        margin: 2% 0 0 0;
      }
    }
    .site-header-living-dropdown-right-nav{
      position: absolute;
      height: 95%;
      width: 24%;
      margin: 1% 0  0 52%;
      display: inline-block;
      // border: solid thin pink;
      border-left: solid thin $gray-border;
      float: right;
    }
  }

  .site-header-kids-dropdown{
    margin: 0 14%;
    height: 53%;
    width: 70%;
    border: solid thin $gray-border;
    border-top: none;
    display: none;
    background-color: white;
    position: absolute;
    z-index: 100;
    .site-header-kids-dropdown-left-nav{
      position: relative;
      height: 100%;
      width: 24%;
      // border-right: solid thin $gray-border;
      display: inline-block;
      .site-header-kids-drop-left-link{
        padding: 1em 0;
        &:hover{
          background-color: lightblue;
        }
      }
    }
    .site-header-kids-dropdown-middle-nav{
      position: relative;
      height: 99%;
      width: 50%;
      margin: 0 25% 0 0;
      display: block;
      // border: solid thin black;
      display: none;
      float: right;
      .site-header-kids-dropdown-middle-nav-left{
        display: inline-block;
        // border: solid thin green;
        height: 98%;
        width: 49%;
        position: relative;
        margin: 2% 0 0 0;
      }
      .site-header-kids-dropdown-middle-nav-right{
        position: absolute;
        display: inline-block;
        // border: solid thin blue;
        height: 98%;
        width: 49%;
        margin: 2% 0 0 0;
      }
    }
    .site-header-kids-dropdown-right-nav{
      position: absolute;
      height: 95%;
      width: 24%;
      margin: 1% 0  0 52%;
      display: inline-block;
      // border: solid thin pink;
      border-left: solid thin $gray-border;
      float: right;
    }
    }

    .site-header-vintage-dropdown{
      margin: 0 14%;
      height: 53%;
      width: 70%;
      border: solid thin $gray-border;
      border-top: none;
      display: none;
      background-color: white;
      position: absolute;
      z-index: 100;
      .site-header-vintage-dropdown-left-nav{
        position: relative;
        height: 100%;
        width: 24%;
        border-right: solid thin $gray-border;
        display: inline-block;
        .site-header-vintage-drop-left-link{
          padding: 1em 0;
          &:hover{
            background-color: lightblue;
          }
        }
      }
      .site-header-vintage-dropdown-middle-nav{
        position: relative;
        height: 99%;
        width: 50%;
        margin: 0 25% 0 0;
        display: block;
        // border: solid thin black;
        display: none;
        float: right;
        .site-header-vintage-dropdown-middle-nav-left{
          display: inline-block;
          // border: solid thin green;
          height: 98%;
          width: 49%;
          position: relative;
          margin: 2% 0 0 0;
        }
        .site-header-vintage-dropdown-middle-nav-right{
          position: absolute;
          display: inline-block;
          // border: solid thin blue;
          height: 98%;
          width: 49%;
          margin: 2% 0 0 0;
        }
      }
      .site-header-vintage-dropdown-right-nav{
        position: absolute;
        height: 95%;
        width: 24%;
        margin: 1% 0  0 52%;
        display: inline-block;
        // border: solid thin pink;
        border-left: solid thin $gray-border;
        float: right;
      }
  }
  .show{
    display: block;
  }
  .hide{
    // background-color: red;
    display: none;
  }
  .top-nav-link-hover{
    border-bottom: solid 3px $orange-accent;
  }
  .left-link-hover{
    background-color: lightblue;
  }
}

//evan

body {
    background-color: #efefeb;
}
.gnav-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
    border-top: 1px solid #e2e2e2;
    background-color:#f5f5f1;
    font-size: 13px;
    display: block;
    line-height: 25px;
    margin-top: 250px;
    margin-bottom: 50px;
    font-family: 'Lato', 'Arial', sans-serif;
}
.fa {
    padding-right: 5px;
}
a {
    text-decoration: none;
    color: #0192b5;
}
a:hover {
    text-decoration: underline;
    color: #0192b5;
}

.footer-content {
    color: #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    width: 980px;
    height: 250px;
    text-align: left;
    display: flex;
    justify-content: baseline;
    margin-left: 12%;
    margin-right: 12%;
    padding-top: 30px;
    padding-bottom: 15px;
    // position: fixed;
    // bottom: 0;

}


.column-section{
    float: left;
    width: 50%;
    margin-right: 30px;
}

.column-section {
    // border: 1px solid green;
}
