.home-wrapper {
  width: 100%;
}

.home-hero-image-1 {
  font-size: 38px;
  width: 100%;
  height: 400px;
  font-family: $Bitter;
  position: relative;
  img{
    width: 100%;
    height: 100%;
  }
}

.home-hero-image-1-text h1 {
  width: 560px;
  left: 12%;
  position: absolute;
  top: 100px;
  color: white;
}

.home-hero-image-1-banner {
  width: 100%;
  height: 100px;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  display: inline-block;

}

.home-hero-image-1-banner-userinfo-link {
  text-decoration: none;
}

.home-hero-image-1-banner-userinfo {
  margin-left: 11.2%;
  line-height: 21px;
  font-size: 14px;
  width: 30%;
  display: inline-block;
  vertical-align: top;
  margin-top: 6px;
  color: white;
  &:hover .home-user-info-top-margin-storeName {
    text-decoration: underline;
  }
}

#home-userinfo-text-wrap {
  display: inline-block;
}

.home-hero-image-1-banner-userinfo-image {
  box-sizing: border-box;
  position: absolute;
  margin-top: 15px;
      img {
        border-radius: 50%;
        height: 60px;
        width: 60px;
      }
}

.home-name-store-city-country {
  margin-top: 25px;
  margin-left: 70px;
}

.home-hero-image-1-banner-products{
  display: inline-block;
  margin-left: 112px;
}

.home-hero-image-1-banner-products-display-ilBlock li {
  margin-left: 5px;
  display: inline-block;
}


.home-hero-image-1-banner-products-thumbnail {
  width: 75px;
  height: 75px;
  border-radius: 4px;
  border: 4px solid white;
  margin-top: 8.5px;
  &:hover{
    opacity: .9;
  }
}

#home-items-number-tile {
  text-align: center;
  background-color: white;
  float: right;
  &:hover{
    background-color: #c7f1ff;
  }
}

.home-scroll-number {
  color: $Blue;
  font-size: 24px;
  margin-top: 20px;
}

.home-scroll-items {
  color: $Grey-type;
  font-size: 14px;
}
