.home-hero-image-2{
  font-family: $Bitter;
  img{
    width: 100%;
  }
}

.home-hero-image-2-user-image{
  border: 4px solid white;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  position: absolute;
  margin-top: -45px;
  margin-left: 570px;
  // margin: -45px auto 0 auto;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2), -2px 2px 2px rgba(0,0,0,0.2);
  &:hover{
    box-shadow: 2px 2px 2px rgba(0,0,0,0.4), -2px 2px 2px rgba(0,0,0,0.4);
  }
  img{
    border-radius: 50%;
  }
}

.home-hero-image-2-user-info{
  // border: 1px solid purple;
  margin: 75px auto 75px auto;
  width: 700px;
  text-align: center;
  h1{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  h3{
    font-size: 18px;
    color: #666;
    font-weight: 600;
    a{
      text-decoration: none;
      color: #0192b5;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}
