.home-editor-pick-bg{
  background: #eee;
  padding-bottom: 40px;
  border: 1px solid #eee;
  a{
    text-decoration: none;
    color: black;
  }
}

.home-editor-pick-wrapper {
  width: 980px;
  margin: 0 auto;
  // border: 1px solid orange;
}

.home-editor-pick-header {
  font-family: $Bitter;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  margin-top: 75px;
  margin-bottom: 40px;
}

.home-editor-pick-card-wrapper-top-2 {
  width: 48.75%;
  height: 190px;
  display: inline-block;
  margin-bottom: 20px;
  vertical-align: top;
  padding: 5px;
  font-family: $Lato;
  &:hover{
    div{
      div{
        div{
          &:last-child{
            text-decoration: underline;
          }
        }
      }
    }
  }
    .home-editor-pick-card-inner-wrapper-top-2 {
      width: 100%;
      height: 190px;
      color: $Grey-type;
      background: white;
      border-radius: 3px;
    }
    .home-editor-pick-card-wrapper-top-2-image img {
      border-radius: 2px 0px 0px 2px;
      width: 239px;
      height:192px;
    }
}

.home-editor-pick-card-wrapper-top-2-text{
  display: inline-block;
  vertical-align:top;
  width: 160px;
  margin-top: 60px;
  margin-left: 20px;
  font-size: 12px;
  color: #777;
  div{
    display: block;
    padding: 4px 0;
    &:last-child{
      color: black;
      font-size:20px;
      font-weight: bold;
    }
  }
}

.home-editor-pick-card-wrapper-top-2-text-category {
  font-family: $Bitter;
}

.home-editor-pick-card-wrapper-top-2-image{
  display: inline-block;
}

.home-editor-pick-card-wrapper-bottom-4{
  &:hover{
    div{
      div{
        &:last-child{
          text-decoration: underline;
        }
      }
    }
  }
  font-family: $Lato;
  width: 230px;
  display: inline-block;
  margin-right: 10px;
  margin-left: 5px;
  border-radius: 3px;
  background: white;
  &:last-child{
    margin-right: 0px;
    padding-right: 0px;
  }
  img{
    width: 100%;
    border-radius: 3px 3px 0 0;
  }
}

.home-editor-pick-card-wrapper-bottom-4-text{
  display: inline-block;
  vertical-align:top;
  width: 95%;
  margin-top: 18px;
  margin-left: 5px;
  margin-bottom: 10px;
  font-size: 12px;
  color: #777;
  div{
    display: block;
    padding: 4px 0;
    &:last-child{
      color: black;
      font-size:20px;
      font-weight: bold;
    }
  }
}

.home-editor-pick-card-wrapper-bottom-4-text-category {
  font-family: $Bitter;
}

.home-editor-pick-more-btn{
  font-family: $Lato;
  font-size: 18px;
  background: white;
  border-radius: 3px;
  width: 170px;
  padding: 14px 14px;
  margin: 30px auto;
  font-weight: bold;
  border: 1px solid rgba(0, 0, 0, 0.15);
  &:hover{
    background: rgb(250,250,250);
    border: 1px solid rgba(0, 0, 0, 0.3);
  }
}
