.home-editor-pick-wrapper {
  width: 980px;
  height: 784px;
  margin: 0 auto;
  border: 1px solid orange;
}

.home-editor-pick-header {
  font-family: $Bitter;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  margin-top: 75px;
}

.home-editor-pick-card-wrapper-top-2 {
  width: 48.75%;
  height: 210px;
  display: inline-block;
  margin-bottom: 10px;
  vertical-align: top;
  border: 1px solid purple;
  padding: 5px;
  font-family: 'Lato', 'Arial', sans-serif;
    .home-editor-pick-card-inner-wrapper-top-2 {
      width: 100%;
      height: 212px;
      border: 1px solid yellow;
      color: $Grey-type;
    }
    .home-editor-pick-card-wrapper-top-2-image img {
      width: 239px;
      height:210px;
    }
    #home-picks-top-2-img-text-ILB {
      display: inline-block;
    }
    .home-editor-pick-card-wrapper-top-2-text div{
      width: 170px;
      margin-left: 30px;
      border: 1px solid yellow;
      margin-bottom: 40px;
    }
    .home-epccategory-font-size {
      margin-top: 5px;
      font-weight: 500;
      font-size: 24px;
      color: black;
    }

}
