$Orange: #f56400;
$Blue: #34a8c4;
$Background: #efefeb;
$Grey-border: #dcdcd9;
$Blue-border: #2f98b1;
$Grey-type: #aaaaaa;
$Dark-grey-type: #666666;
$bitter: 'Bitter', 'Times', serif;
$lato: 'Lato', 'Arial', sans-serif;

body {
    background-color: $Background;
}

a {
   text-decoration: none;
}

a:hover {
   text-decoration: underline;
}

#wrapper {
  margin-left: 7%;
  margin-right: 5%;
}

.page-header {
   font-family: $bitter;
   font-weight: 500;
   margin-left: 3.5%;
}

.center-header {
   text-align: center;
   font-family: $bitter;
   font-weight: 400;
}

.cat-page-path {
  color: $Grey-type;
  margin-left: 3.5%;
  // font-size: 0.7em;
}

.cat-button {
   margin-left: 45%;
   margin-top: 50px;
   padding: 10px;
   background-color: #fff;
   border: 1px solid $Grey-border;
   border-radius: 3px;
   color: $Dark-grey-type;
   font-size: 14px;
   font-weight: 600;
}

.row-1 {
  margin-left: 2%;


	.col-1-4 {
	  border: 1px solid $Grey-border;
     border-radius: 3px;
     font-family: $lato;
     font-weight: 300;
     background-color: #fff;
	  display: inline-block;
	  width: 230px;
      margin: 0 10px 0 15px;
     .shop-all-nav {
        width: 80%;
        margin-left: 20px;
        border-top: 1px solid $Grey-border;
        border-radius: 3px;
        padding-top: 20px;
        color: black;
     }
	}

	.col-2-4 {
	  border: 1px solid $Grey-border;
     border-radius: 3px;
     background-color: #fff;
	  display: inline-block;
	  list-style: none;
	  width: 365px;
	  margin-left: 10px;
	  margin-right: 10px;
    //   margin-bottom: 10px;
	  padding-bottom: 30px;
	}

	.col-3-4 {
	  border: 1px solid $Grey-border;
     border-radius: 3px;
     background-color: #fff;
	  display: inline-block;
	  list-style: none;
	  width: 365px;
	  margin-left: 10px;
    //   margin-bottom: 10px;
	  padding-bottom: 30px;
	}

	ul {
		list-style: none;
		margin-left: -20px;
	}

	.cat-nav {
		line-height: 1.7em;
      font-family: $lato;
      font-weight: 300;
      a {
         color: black;
      }

	}

	.cat-header {
		margin-left: 20px;
      font-family: $bitter;
      font-weight: 400;
      a {
      color: black;

      }
	}

	.all-cat {
		margin-left: 20px;
      font-family: $lato;
      font-weight: 400;
      color: black;
	}

	img {
		width: 100%;
		height: 263px;
      opacity: 0.9;
        border-top-right-radius: 2px;
        border-top-left-radius: 2px;
	}
   img:hover{
      opacity: 1;
   }
}

// STYLING FOR 2ND ROW

.row-2 {
  margin-left: 2%;
  a {
     color: black;
 }
	.colB-2-4 {
	  border: 1px solid $Grey-border;
     border-radius: 3px;
     background-color: #fff;
  	  display: inline-block;
  	  list-style: none;
  	  width: 235px;
	  margin-top: 20px;
  	  margin-left: 270px;
  	  margin-right: 10px;
  	}

	.colB-3-4 {
	  border: 1px solid $Grey-border;
     border-radius: 3px;
     background-color: #fff;
	  display: inline-block;
	  list-style: none;
	  width: 235px;
	  margin-top: 20px;
	  margin-left: 10px;
	  margin-right: 10px;
	}

	.colB-4-4 {
	  border: 1px solid $Grey-border;
     border-radius: 3px;
     background-color: #fff;
	  display: inline-block;
	  list-style: none;
	  width: 235px;
	  margin-top: 20px;
	  margin-left: 10px;
	}

	.cat-header {
		margin-left: 20px;
      font-family: $bitter;
      font-weight: 400;
	}

	.all-cat {
		margin-left: 20px;
	}

	.row-2-img {
		width: 100%;
		height: 200px;
        border-top-right-radius: 2px;
        border-top-left-radius: 2px;
	}
   img {
		width: 100%;
		height: 263px;
      opacity: 0.9;
	}
   img:hover{
      opacity: 1;
   }
}//end of styling for 2nd row - sub categories

//styling for 3rd row
.row-3{
   margin-left: 2%;
   display: flex;
   flex-wrap: wrap;
   .cat-browse {
      border: 1px solid $Grey-border;
      border-radius: 3px;
      background-color: #fff;
	  display: flex;
     flex-direction: column;
	  list-style: none;
	  width: 235px;
	  margin-top: 20px;
	  margin-left: 10px;
	  margin-right: 10px;
   }
   .cat-browse:hover > a {
      text-decoration: none;
      h3 {
         text-decoration: underline;
      }
   }
   .row-3-img {
      width: 100%;
      height: 200px;
      border-top-right-radius: 2px;
      border-top-left-radius: 2px;
   }
   .browse-cat {
      margin-left: 20px;
      margin-bottom: 0;
      font-family: $lato;
      font-weight: 300;
      font-size: 11px;
      letter-spacing: 2px;
      margin-top: 5px;
      color: $Grey-type;
      text-decoration: none;
   }

   .cat-header {
		margin-left: 20px;
      margin-bottom: 5px;
      margin-top: 5px;
      font-family: $bitter;
      font-weight: 400;
      font-size: 16px;
      color: black;
      text-decoration: none;
	}
   img {
		width: 100%;
		height: 263px;
      opacity: 0.9;
	}
   img:hover{
      opacity: 1;
   }
}//end of styling for Browse more categories!


//styling for 4th row = Related Shops
.row-4 {
   display: flex;
   flex-wrap: wrap;
   margin-left: 2%;

   .cat-related {
     border: 1px solid $Grey-border;
     border-radius: 3px;
     background-color: #fff;
     display: flex;
     flex-direction: column;
     list-style: none;
     width: 332px;
     margin-top: 20px;
     margin-left: 4px;
     margin-right: 4px;
     .related-img-container {
        .main {
           width: 60.5%;
           height: 200px;;
        }
        .top-right{
           width: 39%;
           height: 99px;
           float: right;
        }
        .bottom-right {
           @extend .top-right;
           margin-top: -103px;
        }
     }
     .shop-card-link {
       text-decoration: none;
       color: #000;
     }
     .related-shop-details {
        .shop-img {
           display: inline-block;
           height: 50px;
           width: 50px;
           padding: 10px;
           border-top-right-radius: 2px;
           border-top-left-radius: 2px;
        }
        .shop-footer-content {
           display: inline-block;
           width: 100%;
           .shop-name-container {
             float: right;
             width: 250px;
             margin: 15px 10px 10px 0;
           }
           .shop-name {
             color: #000;
             font-family: $lato;
             font-size: 16px;
             font-weight: bolder;
             margin-bottom: 3px;
           }
           .shop-footer-avatar {
             display: inline-block;
             width: 45px;
           }
           .fa {
              display: inline-block;
              color: rgb(255, 217, 0);
              font-size: 18px;
           }
           .fa-heart {
             float: right;
             padding: 5px 9px;
             border: 1px solid $Grey-border;
             border-radius: 4px;
             color: $Grey-type;
           }
           p {
              display: inline-block;
              margin: 0 0 0 3px;
              color: $Dark-grey-type;
              font-family: $lato;
           }
        }
     }
   }

   img {
		width: 100%;
		height: 263px;
    opacity: 0.9;
	}
   img:hover{
      opacity: 1;
   }
} //end of related shop details styling!

//styling for row 5 shop all items! Shop all Items!
.row-5 {
   @extend .row-3;

   .shop-all {
      border: 1px solid $Grey-border;
      border-radius: 3px;
      background-color: #fff;
	  display: flex;
     flex-direction: column;
	  list-style: none;
	  width: 235px;
     height: 245px;
	  margin-top: 20px;
	  margin-left: 10px;
	  margin-right: 10px;
     font-family: $lato;
     position: relative;
   }
   .row-3-img {
      width: 100%;
      height: 200px;
      border-top-right-radius: 2px;
      border-top-left-radius: 2px;
   }
   .hover-nav {
      display: flex;
      justify-content: flex-end;
      text-align: right;
      position: absolute;
      vertical-align: top;
      width: 232px;
      margin-top: 3px;
      color: $Grey-type;
      .fa {
         display: inline-block;
      }
      .fa-heart {
         margin-right: 1px;
         border: 1px solid $Grey-border;
         border-radius: 3px;
         background-color: white;
         padding: 5px;
      }
      .fa-heart:hover {
         background-color: $Background;
      }
      .hamburger-nav {
         display: inline-block;
         border: 1px solid $Grey-border;
         border-radius: 3px;
         background-color: white;
         padding: 3px 5px 3px 5px;
        //  padding-top: 2px;
         .fa-bars {
            font-size: 16px;
         }
         .fa-sort-desc {
            font-size: 15px;
            vertical-align: text-top;
            margin-left: 2px;
         }
      }
      .hamburger-nav:hover {
         background-color: $Background;
      }
   }

   .shop-description {
       position: absolute;
       margin-top: 200px;
       width:98%;
       text-align:left;

   .shop-all-description {
      margin: 4px;
    //   margin-top: 170px;
      font-size: 12px;
      a {
      color: black;
      }
      a:hover {
         text-decoration: none;
      }
   }
   .shop-all-details {
      display: flex;
      justify-content: space-between;
      .shop-all-seller {
         margin: 0 0 0 4px;
         font-size: 12px;
         float:left;
         width:100%;
         a{
            color: $Grey-type;
         }
      }
      .shop-all-price {
         margin: 0;
         font-size: 12px;
         color: #78c042;
         align-items: flex-end;
         float:right;
      }
   }
   }
   img {
		width: 100%;
		height: 263px;
      opacity: 0.9;
      position: absolute;
	}
   img:hover{
      opacity: 1;
   }
}
