$Orange: #f56400;
$Blue: #34a8c4;
$Background: #efefeb;
$Grey-border: #dcdcd9;
$Blue-border: #2f98b1;
$Grey-type: #aaaaaa;
$Dark-grey-type: #666666;
$Bitter: 'Bitter', 'Times', serif;
$Lato: 'Lato', 'Arial', sans-serif;

body{
  background-color: $Background;
}

.trending-hr{
  border-top: 2px solid #dcdcd9;
}

.trending-header{
  margin-top: 5%;
  // border-bottom: 3px solid $Grey-border;
  width: 964px;
  margin-left: 15%;
  font-family: $Bitter;

  .trending-header-title{
    text-decoration: none;
    font-size: 1.5em;
    margin-bottom: 0;
    color: $Dark-grey-type;
  }

  .trending-header-title:hover{
    text-decoration: underline;

  }

  .trending-header-desc{
    font-size: 1em;
    font-weight: 300;
    margin-top: 0;
    color: $Grey-type;
  }

} //end trending-header


.trending-grid-container{
  margin-top: 5%;
  margin-left: 15%;
  width: 964px;
  height: auto;

  .trending-grid-column{
    vertical-align: top;
    display: inline-block;
    width: 220px;
  }

  .trending-grid-column:nth-child(2n+1){
    margin-right: 20px;
  }

  #trending-grid-col-two{
    margin-right: 18px;
  }

} //end trending-grid-container

.trending-card-container {
  border: 5px solid white;
  background-color: white;
  margin-bottom: 22px;
  width: 220px;
  height: auto;

  .trending-card-image{

    img{
      width: 100%;
    }
  }

  .trending-card-title{
    text-decoration: none;
    font-size: 13px;
    display: block;
    color: $Dark-grey-type;
  }

  .trending-card-seller{
    text-decoration: none;
    font-size: 13px;
    display: inline;
    color: $Grey-type;
  }

  .trending-card-price{
    font-size: 13px;
    float: right;
    display: inline;
    color: #78C042;
  }

  a:hover{
    text-decoration: underline;
  }
}

.trending-load-btn{
  font-size: 15px;
  font-weight: 700;
  padding: 12px;
  margin-left: 45%;
  color: white;
  background-color: $Blue;
  border: none;
  border-radius: 3px;
}
