body {
    background-color: #efefeb;
}
.gnav-footer {
    border-top: 1px solid #e2e2e2;
    background-color:#f5f5f1;
    font-size: 13px;
    display: block;
    line-height: 20px;
    margin-top: 250px;
    margin-bottom: 50px;
    font-family: 'Lato', 'Arial', sans-serif;
}

a {
    text-decoration: none;
    color: #0192b5;
}
a:hover {
    text-decoration: underline;
    color: #0192b5;
}

.footer-content {
    color: ##e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    width: 76%;
    text-align: left;
    display: flex;
    justify-content: baseline;
    margin-left: 12%;
    margin-right: 12%;
    padding-top: 10px;
    padding-bottom: 15px;

}


.column-section{
    float: left;
    width: 50%;
    margin-right: 30px;
}

.column-section {
    // border: 1px solid green;
}
