
$Orange: #f56400;
$Blue: #34a8c4;
$Background: #efefeb;
$Grey-border: #dcdcd9;
$Grey-background: #f5f5f1;
$Blue-border: #2f98b1;
$Grey-type: #aaaaaa;
$Dark-grey-type: #666666;
$Bitter: 'Bitter', 'Times', serif;
$Lato: 'Lato', 'Arial', sans-serif;

@import 'hero';
@import 'picks';

.home-subscribe-aboutEtsy-container {
  background-color: $Grey-background;
  width: 100%;
  padding:{
    bottom: 100px;
    top: 100px;
  }
  width: 100%;
}

.home-subscribe-aboutEtsy {
  min-width: 76%;
  margin: {
    left: 12%;
  }
}

// Styling for the individual subscribe columns

.home-subscribe-aboutEtsy-colDiv {
  display: inline-block;
  text-align: center;
  width: 25%;
  margin-right: 60px;
}

.home-subscribe-aboutEtsy-colDiv-title {
  font: {
    family: $Bitter;
    size: 25px;
    weight: 500;
  }
  color: black;
  margin: {
    top: 20px;
    bottom: 20px;
  }
  letter-spacing: .1px;
}

.home-subscribe-aboutEtsy-colDiv-blurb {
  font: {
    family: $Lato;
    size: 17px;
  }
  color: $Grey-type;
  margin-bottom: 40px;
  line-height: 1.5;
}

// Styling for the submit email section

.home-subscribe-aboutEtsy-submitEmail {
  position: relative;
  text-align: center;
  width: 87%;
  height: 170px;
  background: {
    image: url(../images/homepageimages/weddings-texture.png);
    color: $Grey-border;
  }
  border: {
    color: rgb(210,210,210);
    style: solid;
    width: 1px;
    radius: 3px;
  }
}

.home-subscribe-aboutEtsy-submitEmail-image {
  position: absolute;
  width: 100%;
  top: 48px;
  left: 0;
}

.home-subscribe-aboutEtsy-submitEmail-fieldcontainer {
  display: inline-block;
  position: absolute;
  left: 29.5%;
}

.home-subscribe-aboutEtsy-submitEmail-blurb {
  font: {
    family: $Bitter;
    size: 20px;
    weight: 500;
  }
  color: black;
  line-height: 1.5;
  padding: {
    top: 35px;
    bottom: 5px;

  }
}

.home-subscribe-aboutEtsy-submitEmail-fieldcontainer-input {
  padding: 5px;
  height: 22px;
  width: 260px;
  font-size: 15px;
  border: {
    color: $Grey-type;
    radius: 3px;
    style: solid;
    width: 1.5px;
  }
}

.home-subscribe-aboutEtsy-submitEmail-fieldcontainer-input::-webkit-input-placeholder {
  font:{
    size: 14px;
  }
  overflow: visible;
}

.home-subscribe-aboutEtsy-submitEmail-fieldcontainer-button {
  color: white;
  background: $Blue;
  border: {
    radius: 3px;
    color: $Blue-border;
    style: solid;
    width: 1px;
  }
  height: 35px;
  width: 100px;
  font:{
    size: 14px;
    weight: bold;
  }
  margin-left: 8px;
  z-index: 10;
}

.home-subscribe-aboutEtsy-submitEmail-fieldcontainer-button:hover {
  background: rgb(60, 177, 203);
}
