<div class="home-wrapper" ng-controller="homepageController">
  <div class="home-hero-image-1">
    <img src="{{stuff.heroImage1[0].heroimageurl}}">
    <div class="home-hero-image-1-text">
      <h1>Shop directly from people around the world</h1>
    </div>
    <div class="home-hero-image-1-banner">
      <div class="home-hero-image-1-banner-userinfo">
        <div class="home-hero-image-1-banner-userinfo-image" id = "home-userinfo-text-wrap">
          <img src="{{stuff.heroImageScroll[0].storeOwnerImage}}" class="home">
        </div>
        <div class = "home-name-store-city-country" id = "home-userinfo-text-wrap">
          <div class="home-hero-image-1-banner-userinfo-name-store">
            {{stuff.heroImageScroll[0].storeOwnerName}} of {{stuff.heroImageScroll[0].storeName}}
          </div>
          <div class="home-hero-image-1-banner-userinfo-city-country">
            {{stuff.heroImageScroll[0].storeCity}}, {{stuff.heroImageScroll[0].storeCountry}}
          </div>
        </div>
      </div><!-- End hero image 1 user info-->
      <div class="home-hero-image-1-banner-products" >
        <ul class="home-hero-image-1-banner-products-display-ilBlock">
          <li class="home-hero-image-1-banner-products-thumbnail" ng-repeat="products in stuff.heroImageScroll[0].products" ng-click="giveProdID(products.listingID)">
            <a href="#/product" title="{{products.productDescription}}">
              <img src="{{products.prodImg}}" alt="{{products.productDescription}}">
            </a>
          </li>
          <a href="{{stuff.heroImageScroll[0].storeURL}}">
            <li class="home-hero-image-1-banner-products-thumbnail" id="home-items-number-tile">
              <div class="home-scroll-number">
                128
              </div>
              <div class="home-scroll-items">
                items
              </div>
            </li>
          </a>
        </ul>
      </div><!--End hero image 1 products-->
    </div><!--End Hero Image 1 banner-->
  </div><!--End Hero Image 1-->

  <div class="home-editor-pick-bg">
    <div class="home-editor-pick-wrapper">
      <div class="home-editor-pick-header">
        <h1>Discover items you can't find anywhere else</h1>
      </div>
      <div class="home-editor-pick-card-wrapper">
        <div class="home-editor-pick-card-wrapper-top-2" ng-repeat="picks in stuff.editorsPicksTop2">
          <div class="home-editor-pick-card-inner-wrapper-top-2">
            <div class="home-editor-pick-card-wrapper-top-2-image">
              <img src="{{picks.picksPic}}">
            </div>
            <div class="home-editor-pick-card-wrapper-top-2-text">
              <div>EDITORS' PICKS</div>
              <div class="home-editor-pick-card-wrapper-top-2-text-category">{{picks.epcategory}}</div>
            </div>
          </div>
        </div><!--End top 2-->
        <div class="home-editor-pick-card-wrapper-bottom-4" ng-repeat="picks in stuff.editorsPicksBottom4">
          <div class="home-editor-pick-card-wrapper-bottom-4-image">
            <img src="{{picks.picksPic}}">
          </div>
          <div class="home-editor-pick-card-wrapper-bottom-4-text">
            <div>EDITORS' PICKS</div>
            <div class="home-editor-pick-card-wrapper-bottom-4-text-category">{{picks.epcategory}}</div>
          </div>
        </div><!--End bottom 4-->
      </div><!-- End editor pick card wrapper-->
      <a href="https://www.etsy.com/featured?ref=soph">
        <div class="home-editor-pick-more-btn">More Editors' Picks ></div>
      </a>
    </div><!--End editor pick wrapper-->
  </div>
  <div class="home-community-tastemakers-wrapper">
    <div class="home-community-tastemakers-header">
      <h1>Community Tastemakers</h1>
      <h3>Get inspiration from these Etsy members' top picks.</h3>
    </div><!--End Community Tastemakers Header-->
    <div class="home-community-tastemaker-user-container">
      <a href="{{stuff.commTastemakers[0].tastemakerURL}}" class="home-community-tastemaker-user-link">
        <div class="home-community-tastemaker-user">
          <div class="home-community-tastemaker-user-header">
            <img src="{{stuff.commTastemakers[0].tastemakerImage}}">
            <div><h4>{{stuff.commTastemakers[0].tastemakerName}}'s</h4> Favorites</div>
          </div>
          <ul class="home-community-tastemaker-user-img-container">
            <li class="home-community-tastemaker-user-img" ng-repeat="pics in stuff.commTastemakers[0].tastemakerProductImgs">
              <img src="{{pics}}">
            </li>
          </ul>
          <div class="home-community-tastemaker-user-footer">
            <h6>{{stuff.commTastemakers[0].tastemakerName}}'s Favorites</h6>
            <h5>{{stuff.commTastemakers[0].tastemakerNumItems}} items</h5>
            <p>></p>
          </div>
        </div>
      </a><!--END TASTEMAKER 1-->
      <a href="{{stuff.commTastemakers[1].tastemakerURL}}" class="home-community-tastemaker-user-link">
        <div class="home-community-tastemaker-user">
          <div class="home-community-tastemaker-user-header">
            <img src="{{stuff.commTastemakers[1].tastemakerImage}}">
            <div><h4>{{stuff.commTastemakers[1].tastemakerName}}'s</h4> Favorites</div>
          </div>
          <ul class="home-community-tastemaker-user-img-container">
            <li class="home-community-tastemaker-user-img" ng-repeat="pics in stuff.commTastemakers[1].tastemakerProductImgs">
              <img src="{{pics}}">
            </li>
          </ul>
          <div class="home-community-tastemaker-user-footer">
            <h6>{{stuff.commTastemakers[1].tastemakerName}}'s Favorites</h6>
            <h5>{{stuff.commTastemakers[1].tastemakerNumItems}} items</h5>
            <p>></p>
          </div>
        </div>
      </a><!--END TASTEMAKER 2-->
      <a href="{{stuff.commTastemakers[2].tastemakerURL}}" class="home-community-tastemaker-user-link">
        <div class="home-community-tastemaker-user">
          <div class="home-community-tastemaker-user-header">
            <img src="{{stuff.commTastemakers[2].tastemakerImage}}">
            <div><h4>{{stuff.commTastemakers[2].tastemakerName}}'s</h4> Favorites</div>
          </div>
          <ul class="home-community-tastemaker-user-img-container">
            <li class="home-community-tastemaker-user-img" ng-repeat="pics in stuff.commTastemakers[2].tastemakerProductImgs">
              <img src="{{pics}}">
            </li>
          </ul>
          <div class="home-community-tastemaker-user-footer">
            <h6>{{stuff.commTastemakers[2].tastemakerName}}'s Favorites</h6>
            <h5>{{stuff.commTastemakers[2].tastemakerNumItems}} items</h5>
            <p>></p>
          </div>
        </div>
      </a><!--END TASTEMAKER 3-->
      <a href="{{stuff.commTastemakers[3].tastemakerURL}}" class="home-community-tastemaker-user-link">
        <div class="home-community-tastemaker-user" id="hctu4">
          <div class="home-community-tastemaker-user-header">
            <img src="{{stuff.commTastemakers[3].tastemakerImage}}">
            <div><h4>{{stuff.commTastemakers[3].tastemakerName}}'s</h4> Favorites</div>
          </div>
          <ul class="home-community-tastemaker-user-img-container">
            <li class="home-community-tastemaker-user-img" ng-repeat="pics in stuff.commTastemakers[3].tastemakerProductImgs">
              <img src="{{pics}}">
            </li>
          </ul>
          <div class="home-community-tastemaker-user-footer">
            <h6>{{stuff.commTastemakers[3].tastemakerName}}'s Favorites</h6>
            <h5>{{stuff.commTastemakers[3].tastemakerNumItems}} items</h5>
            <p>></p>
          </div>
        </div>
      </a><!--END TASTEMAKER 4-->
    </div><!--End Commmunity Tastemaker user container-->
    <a href="https://www.etsy.com/pages?ref=hp_tastemakers">
      <div class="home-community-tastemakers-browse-container">
        <h1>What items do your favorite brands and bloggers love?</h1>
        <div class="home-community-tastemakers-browse-container-btn">
          Browse Their Favorites
        </div>
      </div><!--END Community Tastemakers browse container-->
    </a>
  </div><!--End Community Tastemakers wrapper-->
  <div class="home-hero-image-2">
    <img src="{{stuff.heroImage2[0].heroImgURL}}">
    <div class="home-hero-image-2-user-image">
      <a href="{{stuff.heroImage2[0].featuredUserLink}}"><img src="{{stuff.heroImage2[0].featuredUserImg}}">
      </a>
    </div>
    <div class="home-hero-image-2-user-info">
      <h1>{{stuff.heroImage2[0].featuredUserQuote}}</h1>
      <h3>Meet <a href="{{stuff.heroImage2[0].featuredUserLink}}">{{stuff.heroImage2[0].featuredUserName}} of {{stuff.heroImage2[0].featuredUserStoreName}}</a> in {{stuff.heroImage2[0].storeCity}}, {{stuff.heroImage2[0].storeCountry}}</h3>
    </div>
  </div><!--End Hero Image 2-->
  <div class="home-subscribe-aboutEtsy-container">
    <section class="home-subscribe-aboutEtsy">
      <div class="home-subscribe-aboutEtsy-colDiv">
        <img src="Assets/images/homepageimages/trust-1.png">
        <h2 class="home-subscribe-aboutEtsy-colDiv-title">Satisfied Customers</h2>
        <div class="home-subscribe-aboutEtsy-colDiv-blurb">Get to know shops and items with reviews from our community.</div>
      </div>
      <div class="home-subscribe-aboutEtsy-colDiv">
        <img src="Assets/images/homepageimages/trust-2.png">
        <h2 class="home-subscribe-aboutEtsy-colDiv-title">Passionate Sellers</h2>
        <div class="home-subscribe-aboutEtsy-colDiv-blurb">Buy from creative people who care about quality and craftsmanship.</div>
      </div>
      <div class="home-subscribe-aboutEtsy-colDiv">
        <img src="Assets/images/homepageimages/trust-3.png">
        <h2 class="home-subscribe-aboutEtsy-colDiv-title">Secure Transactions</h2>
        <div class="home-subscribe-aboutEtsy-colDiv-blurb">Feel confident knowing our Trust & Safety team is here to protect you.</div>
      </div>
      <div class="home-subscribe-aboutEtsy-submitEmail">
        <img class="home-subscribe-aboutEtsy-submitEmail-image" src="Assets/images/homepageimages/your-feed-finds.png">
        <h2 class="home-subscribe-aboutEtsy-submitEmail-blurb">Get top trends and fresh editors' picks <br> in your inbox with Etsy Finds.</h2>
        <div class="home-subscribe-aboutEtsy-submitEmail-fieldcontainer">
          <input class="home-subscribe-aboutEtsy-submitEmail-fieldcontainer-input" type="text" placeholder="Enter your email">
          <button type="submit" class="home-subscribe-aboutEtsy-submitEmail-fieldcontainer-button">Subscribe</button>
        </div>
      </div>
    </section>
  </div> <!-- End subscribe section ---------------------->
</div> <!--End Home Wrapper-->
